* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-size: 30px;
}
video {
  width: 100%;
  height: 70vh;
}
.mp4 {
  width: 30%;
  height: 5%;
}
.first {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.related {
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 5%;
}
.text {
  position: relative;
  top: 50px;
  width: 40%;
}
.main-text {
  text-align: center;
}
@media screen and (max-width: 500px) {
  .mp4 {
    width: 70%;
    height: 50%;
  }
  .text {
    width: 80%;
    text-align: center;
  }
  .related {
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
